.answer-container {
  align-content: flex-start;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

.answer-btn {
    font-size: 20px;
    margin: 6px;
    border-radius: 9px;
    padding: 6px;
}

.right-answer {
  background-color: #78CDD7;
  color: black;
}