@import 'variables';

.answer-wrapper {
  border-top: 2px solid #dededeb8;
  margin: 0 auto;
  width: 75%;
}

.answer-container {
  align-content: flex-start;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 35px 20px;
}