@import 'variables';

.score {
  margin-left: auto;
}

.statuses {
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  margin: 26px auto 0;
  width: 75%;

  li {
    text-align: center;
    padding: 3px; 
  }
}
