@import 'variables';

.status-container {
  height: 105px;
  margin: 0 auto;
  width: 75%;
}

.score {
  margin-left: auto;
}

.statuses {
  align-items: flex-end;
  height: 100%;

  li {
    text-align: center;
    padding: 3px; 
  }
}
