@import 'variables';

.status-container {
  height: 105px;
}

.score {
  margin-left: auto;
}

.statuses {
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 75%;
  margin: 0 auto;

  li {
    text-align: center;
    padding: 3px; 
  }
}
