@import 'variables';

header {
  background-color: #0D5C63;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100vw;
}

.header {
  margin: 0 auto;
  padding-top: 7px;
  width: 95%;
}

li {
  color: #fff;
}

.logo {
  font-family: $title-font;
  margin-left: auto;
  font-size: 28px;
  line-height: 1;
}