@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans|Open+Sans+Condensed:300');


$main-font: 'Open Sans', sans-serif;
$main-condensed: 'Open Sans Condensed', sans-serif;
$title-font: 'Luckiest Guy', cursive;

