@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans|Open+Sans+Condensed:300');


$main-font: 'Open Sans', sans-serif;
$main-condensed: 'Open Sans Condensed', sans-serif;
$title-font: 'Luckiest Guy', cursive;


@keyframes wrongAnswer {
    0% {
    color: #00000096;
      box-shadow: inset 0 0 20px 2px #0096881c, 
                  inset -2px 3px 6px 0px #3a000075;
      background-color: #ff1f1fbd;
    }
    100% {}
}