@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans|Open+Sans+Condensed:300');


$main-font: 'Open Sans', sans-serif;
$main-condensed: 'Open Sans Condensed', sans-serif;
$title-font: 'Luckiest Guy', cursive;
$light-teal: #76caca;
$dark-teal: #12a4b1;


@keyframes wrongAnswer {
    0% {
    background-color: #ff1f1fbd;
    box-shadow: 1px 1px 4px #c3c3c3a1, 
                inset 4px 4px 7px #ffcccc;
    border: 1px solid #ffc1c1;
    color: #00000096;
    }
    100% {}
}